body {
  font-family: Helvetica, sans-serif;
  padding: 0;
  margin: 5px;
}

ul#navbar {
  list-style-type: none;
  margin: 0 0 0 0;
  padding: 0;
}

#navbar > li {
  display: inline-block;
  margin: 5px;
}

#navbar > li.active {
  font-weight: bold;
}

.list {
    font-size: 20px;
    line-height: 1.5em; 
    margin-bottom: 5px;
}