body {
  font-family: Helvetica, sans-serif;
  padding: 0;
  margin: 5px;
}

ul#navbar {
  list-style-type: none;
  margin: 0 0 0 0;
  padding: 0;
}

#navbar > li {
  display: inline-block;
  margin: 5px;
}

#navbar > li.active {
  font-weight: bold;
}

.list {
    font-size: 20px;
    line-height: 1.5em; 
    margin-bottom: 5px;
}

.termheader {
    padding-top: 1em;
    padding-botton: 1em;
    margin-top: 1em;
    margin-bottom: 1em;
    background-color: lightblue;
}

dt a {
    text-decoration: none;
    font-weight: normal;
}


pre {
    background: lightblue;
    line-height: 1.2;
    padding-right: 1em;
    padding-left: 1em;
    padding-top: 2px;
    padding-bottom: 2px;
}

@media (min-width: 576px) {  
    .bodytext {
        max-width: 540px;
    }
}
 
/* Medium devices (tablets, 768px and up) The navbar toggle appears at this breakpoint */
@media (min-width: 768px) {  
    .bodytext {
        max-width: 720px !important;
    }    
}
 
/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) { 
    .bodytext {
        max-width: 720px !important;
    }     
}
 
/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {  
    .bodytext {
        max-width: 720px !important;
    }        
}
