{{define "header"}}
{{partial "nav.html" .}}
{{end}}
{{ define "main" }}
<section class="container">
  <div class="row">
    <div class="col-sm-12 col-md-10 col-lg-10 bodytext">
      {{.Content }}
    </div>
    <div class="col-sm-12 col-md-2 col-lg-2">
      <aside>
        {{.TableOfContents}}
        {{if .Params.see}}
        <h5>Also see</h5>
        <ul>
          {{range .Params.see}}
          <li><a href="{{.url}}">{{.label}}</a></li>
          {{end}}
        </ul>
        {{end}}
      </aside>
    </div>
  </div>
</section>
{{ end }}
{{define "footer"}}
{{partial "footer.html" .}}
{{end}}
